@media screen and (max-width: 281px) {
    .container {
        width: 100%;
        height: 800px;
        background-position: center;
    }

    .for-logo {
        width: 100%;
        height: 100px;
        padding: 20px 0px 0px 35px;
    }

    .logo {
        width: 40%;
        background-image: url("./images/logo-for-responsive.svg");
        background-size: 130px 50px;
    }

    .first-section {
        height: 700px;
        display: block;
    }

    .texts-block {
        width: 100%;
        height: 400px;
        padding: 10px;
    }

    #h1txt {
        font-size: 40px;
        line-height: 50px;
    }

    #h1span {
        font-size: 40px;
    }

    #text2 {
        font-size: 15px;
    }

    .download {
        width: 60%;
    }

    .image-block {
        width: 100%;
        height: 253px;
    }

    .second-section {
        height: 2100px;
    }

    .second-section-first-block {
        width: 100%;
        height: 650px;
        padding: 10px;
        padding-top: 50px;
        display: block;
        overflow: hidden;
    }

    .second-section-image {
        width: 95%;
        height: 200px;
    }

    .second-section-text-block {
        width: 90%;
        height: 250px;
        margin-top: 50px;
        padding: 10px;
    }

    #firsttxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondtxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondsectiontext2 {
        font-size: 13px;
    }

    .secimg {
        margin-top: 100px;
    }

    .second-section-second-block {
        height: 800px;
    }

    .third-section {
        height: 1550px;
    }

    .status-block {
        padding: 0;
    }

    .status {
        width: 100%;
    }

    #what-do-they-say {
        font-size: 30px;
        line-height: 10px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
    }

    .status-block {
        width: 100%;
        height: 1300px;
        display: block;
    }

    .status {
        height: 550px;
        width: 100%;
        display: block;
    }

    .some-status {
        width: 100%;
        height: 430px;
        padding: 0;
    }

    .second-status {
        height: 550px;
        margin-top: 150px;
    }

    .fourth-section {
        display: none;
    }

    .users {
        display: none;
    }

    .fourth-section-responsive {
        display: block;
        width: 100%;
        height: 1000px;
        background-color: rgb(22, 22, 22);
    }

    .users-responsive {
        display: block;
        width: 80%;
        height: 900px;
        margin: auto;
        opacity: 0;
        transition: 1s;
    }

    .userBlock {
        width: 100%;
    }

    .number {
        font-size: 50px;
    }

    .txt {
        font-size: 20px
    }
        
    .fiveth-section {
        display: none;
    }

    .fiveth-section-responsive {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/gradient2-A1aNg8Lg5NTlR0e3.svg");
        height: 650px;
        display: block;
    }

    .fivethSectionBlockResponsive {
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .fiveth-section-text-block {
        width: 100%;
        height: 300px;
        padding-left: 0;
        padding-top: 30px;
        padding: 20px;
    }

    .title1 {
        font-size: 30px;
        margin: 0;
    }

    #some-text {
        font-size: 12px;
        width: 100%;
    }

    .button-block {
        width: 100%;
    }

    .get {
        width: 45%;
        height: 40px;
    }

    .fiveth-section-image-block {
        width: 100%;
        padding: 60px;
    }

    .end {
        width: 100%;
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;  
    }
    
    .content {
        width: 100%;
        height: 300px;
        padding: 30px;
    }
    
    .content > .for-logo {
        width: 50%;
        height: 60px;
        padding: 0;
    }
    
    .content > .for-logo > .logo {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/logo_black-AE0xqKEXpLtVQXnM.svg");
    }
    
    #content-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 30px;
    }
    
    #privacy {
        font-size: 13px;
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    
    .icons-block {
        width: 50%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icons-block > svg {
        cursor: pointer;
    }
    
    .input-block {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        padding: 30px;
    }
    
    .input-block > h3 {
        height: 40px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    
    .input-block > span {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1a1a1a;
    }
    
    .type {
        width: 100%;
        height: 40px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
    }
    
    .submit {
        width: 130px;
        height: 40px;
        background-color: rgb(93, 27, 166);
        margin-top: 20px;
        border-radius: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }

}

@media (min-width: 281px) and (max-width: 361px) {
    .container {
        width: 100%;
        height: 1040px;
        background-position: center;
    }

    .for-logo {
        width: 100%;
        height: 100px;
        padding: 20px 0px 0px 35px;
    }

    .logo {
        width: 30%;
        background-image: url("./images/logo-for-responsive.svg");
        background-size: 130px 50px;
    }

    .first-section {
        height: 940px;
        display: block;
    }

    .texts-block {
        width: 100%;
        height: 450px;
        padding: 10px;
    }

    #h1txt {
        font-size: 60px;
        line-height: 80px;
    }

    #h1span {
        font-size: 60px;
    }

    #text2 {
        font-size: 15px;
    }

    .download {
        width: 50%;
    }

    .image-block {
        width: 100%;
        height: 400px;
    }

    .second-section {
        height: 2100px;
    }

    .second-section-first-block {
        width: 100%;
        height: 650px;
        padding: 10px;
        padding-top: 50px;
        display: block;
        overflow: hidden;
    }

    .second-section-image {
        width: 95%;
        height: 250px;
    }

    .second-section-text-block {
        width: 90%;
        height: 250px;
        margin-top: 50px;
        padding: 10px;
    }

    #firsttxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondtxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondsectiontext2  {
        font-size: 13px;
    }

    .secimg {
        margin-top: 20px;
    }

    .second-section-second-block {
        height: 750px;
    }

    .third-section {
        height: 1600px;
    }

    .part1txt {
        height: 150px;
        line-height: 50px;
    }

    #reviews {
        font-size: 23px;
    }

    #what-do-they-say {
        font-size: 35px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
    }

    .status-block {
        width: 100%;
        height: 1300px;
        display: block;
    }

    .status {
        width: 100%;
        height: 570px;
        display: block;
    }

    .some-status {
        width: 100%;
        height: 430px;
        padding: 0;
    }

    #easy-to-use {
        font-size: 20px;
    }

    #statustxt {
        font-size: 18px;
    }

    .second-status {
        height: 550px;
        margin-top: 150px;
    }

    .fourth-section {
        display: none;
    }

    .users {
        display: none;
    }

    .fourth-section-responsive {
        display: block;
        width: 100%;
        height: 1000px;
        background-color: rgb(22, 22, 22);
    }

    .users-responsive {
        display: block;
        width: 80%;
        height: 900px;
        margin: auto;
        opacity: 0;
        transition: 1s;
    }

    .userBlock {
        width: 100%;
    }
    
    .fiveth-section {
        display: none;
    }

    .fiveth-section-responsive {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/gradient2-A1aNg8Lg5NTlR0e3.svg");
        height: 850px;
        display: block;
    }

    .fivethSectionBlockResponsive {
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .fiveth-section-text-block {
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        padding: 20px;
    }

    .title1 {
        font-size: 40px;
        margin: 0;
    }

    #some-text {
        font-size: 13px;
        width: 100%;
    }

    .button-block {
        width: 100%;
    }

    .get {
        width: 40%;
    }

    .fiveth-section-image-block {
        width: 100%;
        padding: 80px;
    }

    .end {
        width: 100%;
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;  
    }
    
    .content {
        width: 300px;
        height: 300px;
        padding: 30px;
    }
    
    .content > .for-logo {
        width: 50%;
        height: 60px;
        padding: 0;
    }
    
    .content > .for-logo > .logo {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/logo_black-AE0xqKEXpLtVQXnM.svg");
    }
    
    #content-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 30px;
    }
    
    #privacy {
        font-size: 13px;
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    
    .icons-block {
        width: 50%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icons-block > svg {
        cursor: pointer;
    }
    
    .input-block {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        padding: 30px;
    }
    
    .input-block > h3 {
        height: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .input-block > span {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1a1a1a;
    }
    
    .type {
        width: 100%;
        height: 40px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
    }
    
    .submit {
        width: 130px;
        height: 40px;
        background-color: rgb(93, 27, 166);
        margin-top: 20px;
        border-radius: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 361px) and (max-width: 376px) {
    .container {
        width: 100%;
        height: 1040px;
        background-position: center;
    }

    .for-logo {
        width: 100%;
        height: 100px;
        padding: 20px 0px 0px 35px;
    }

    .logo {
        width: 30%;
        background-image: url("./images/logo-for-responsive.svg");
        background-size: 130px 50px;
    }

    .first-section {
        height: 940px;
        display: block;
    }

    .texts-block {
        width: 100%;
        height: 500px;
        padding: 10px;
    }

    #h1txt {
        font-size: 70px;
        line-height: 80px;
    }

    #h1span {
        font-size: 70px;
    }

    #text2 {
        font-size: 15px;
    }

    .download {
        width: 50%;
    }

    .image-block {
        width: 100%;
        height: 400px;
    }

    .second-section {
        height: 2100px;
    }

    .second-section-first-block {
        width: 100%;
        height: 650px;
        padding: 10px;
        padding-top: 50px;
        display: block;
        overflow: hidden;
    }

    .second-section-image {
        width: 95%;
        height: 250px;
    }

    .second-section-text-block {
        width: 90%;
        height: 250px;
        margin-top: 50px;
        padding: 10px;
    }

    #firsttxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondtxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondsectiontext2  {
        font-size: 13px;
    }

    .secimg {
        margin-top: 20px;
    }

    .second-section-second-block {
        height: 750px;
    }

    .second-section-third-block {
        margin-top: 50px;
    }

    .third-section {
        height: 1500px;
    }

    .part1txt {
        height: 150px;
        line-height: 50px;
    }

    #reviews {
        font-size: 25px;
    }

    #what-do-they-say {
        font-size: 35px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
    }

    .status-block {
        width: 100%;
        height: 1300px;
        display: block;
    }

    .status {
        height: 550px;
        width: 100%;
        display: block;
    }

    .some-status {
        width: 100%;
        height: 430px;
        padding: 0;
    }

    .second-status {
        height: 500px;
        margin-top: 150px;
    }

    .fourth-section {
        display: none;
    }

    .users {
        display: none;

    }

    .fourth-section-responsive {
        display: block;
        width: 100%;
        height: 1000px;
        background-color: rgb(22, 22, 22);
    }

    .users-responsive {
        display: block;
        width: 80%;
        height: 900px;
        margin: auto;
        opacity: 0;
        transition: 1s;
    }

    .user-block {
        width: 100%;
    }

    .txt {
        font-size: 25px;
    }

    .fiveth-section {
        display: none;
    }

    .fiveth-section-responsive {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/gradient2-A1aNg8Lg5NTlR0e3.svg");
        height: 850px;
        display: block;
    }

    .fivethSectionBlockResponsive {
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .fiveth-section-text-block {
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        padding: 20px;
    }

    .title1 {
        font-size: 40px;
        margin: 0;
    }

    #some-text {
        font-size: 13px;
        width: 100%;
    }

    .button-block {
        width: 100%;
    }

    .get {
        width: 40%;
    }

    .fiveth-section-image-block {
        width: 100%;
        padding: 80px;
    }

    .end {
        width: 100%;
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;  
    }
    
    .content {
        width: 300px;
        height: 300px;
        padding: 30px;
    }
    
    .content > .for-logo {
        width: 50%;
        height: 60px;
        padding: 0;
    }
    
    .content > .for-logo > .logo {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/logo_black-AE0xqKEXpLtVQXnM.svg");
    }
    
    #content-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 30px;
    }
    
    #privacy {
        font-size: 13px;
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    
    .icons-block {
        width: 50%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icons-block > svg {
        cursor: pointer;
    }
    
    .input-block {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        padding: 30px;
    }
    
    .input-block > h3 {
        height: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .input-block > span {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1a1a1a;
    }
    
    .type {
        width: 100%;
        height: 40px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
    }
    
    .submit {
        width: 130px;
        height: 40px;
        background-color: rgb(93, 27, 166);
        margin-top: 20px;
        border-radius: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 376px) and (max-width: 415px) {
    .container {
        width: 100%;
        height: 1050px;
        background-position: center;
    }

    .for-logo {
        height: 100px;
        padding: 20px 0px 0px 35px;
    }

    .logo {
        width: 32%;
        background-image: url("./images/logo-for-responsive.svg");
        background-size: 150px 50px;
    }

    .first-section {
        height: 950px;
        display: block;
    }

    .texts-block {
        width: 100%;
        height: 450px;
        padding: 10px;
        display: block;
    }

    #h1txt {
        font-size: 60px;
        line-height: 70px;
    }

    #h1span {
        font-size: 70px;
    }

    #text2 {
        font-size: 18px;
    }

    .download {
        width: 50%;
        font-size: 17px;
    }

    .image-block {
        width: 100%;
        height: 450px;
    }

    .second-section {
        height: 2100px;
    }

    .second-section-first-block {
        width: 100%;
        height: 650px;
        padding: 10px;
        padding-top: 50px;
        display: block;
        overflow: hidden;
    }

    .second-section-image {
        width: 90%;
        height: 250px;
    }

    .second-section-text-block {
        width: 90%;
        height: 250px;
        margin-top: 50px;
        padding: 10px;
    }

    #firsttxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondtxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondsectiontext2  {
        font-size: 13px;
    }

    .secimg {
        margin-top: 20px;
    }

    .second-section-second-block {
        height: 750px;
    }

    .third-section {
        height: 1600px;
    }

    .part1txt {
        height: 150px;
        line-height: 50px;
    }

    #reviews {
        font-size: 25px;
    }

    #what-do-they-say {
        font-size: 40px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
    }

    .status-block {
        width: 100%;
        height: 1300px;
        display: block;
    }

    .status {
        width: 100%;
        height: 570px;
        display: block;
    }

    .some-status {
        width: 100%;
        height: 430px;
        padding: 0;
    }

    #easy-to-use {
        font-size: 20px;
    }

    #statustxt {
        font-size: 19px;
    }

    .second-status {
        height: 550px;
        margin-top: 150px;
    }

    .fourth-section {
        display: none;
    }

    .users {
        display: none;
    }

    .fourth-section-responsive {
        display: block;
        width: 100%;
        height: 1000px;
        background-color: rgb(22, 22, 22);
    }

    .users-responsive {
        display: block;
        width: 75%;
        height: 900px;
        margin: auto;
        opacity: 0;
        transition: 1s;
    }
    .fiveth-section {
        display: none;
    }

    .fiveth-section-responsive {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/gradient2-A1aNg8Lg5NTlR0e3.svg");
        height: 850px;
        display: block;
    }

    .fivethSectionBlockResponsive {
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .fiveth-section-text-block {
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        padding: 20px;
    }

    .title1 {
        font-size: 40px;
        margin: 0;
    }

    #some-text {
        font-size: 13px;
        width: 100%;
    }

    .button-block {
        width: 100%;
    }

    .get {
        width: 40%;
    }

    .fiveth-section-image-block {
        width: 100%;
        padding: 80px;
    }

    .end {
        width: 100%;
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;  
    }
    
    .content {
        width: 300px;
        height: 300px;
        padding: 30px;
    }
    
    .content > .for-logo {
        width: 50%;
        height: 60px;
        padding: 0;
    }
    
    .content > .for-logo > .logo {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/logo_black-AE0xqKEXpLtVQXnM.svg");
    }
    
    #content-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 30px;
    }
    
    #privacy {
        font-size: 13px;
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    
    .icons-block {
        width: 50%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icons-block > svg {
        cursor: pointer;
    }
    
    .input-block {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        padding: 30px;
    }
    
    .input-block > h3 {
        height: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .input-block > span {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1a1a1a;
    }
    
    .type {
        width: 100%;
        height: 40px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
    }
    
    .submit {
        width: 130px;
        height: 40px;
        background-color: rgb(93, 27, 166);
        margin-top: 20px;
        border-radius: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }

}

@media (min-width: 415px) and (max-width: 426px) {
    .container {
        width: 100%;
        height: 1050px;
        background-position: center;
    }

    .for-logo {
        height: 100px;
        padding: 20px 0px 0px 35px;
    }

    .logo {
        width: 30%;
        background-image: url("./images/logo-for-responsive.svg");
        background-size: 150px 50px;
    }

    .first-section {
        height: 900px;
        display: block;
    }

    .texts-block {
        width: 100%;
        height: 450px;
        padding: 10px;
        display: block;
    }

    #h1txt {
        font-size: 65px;
        line-height: 70px;
    }

    #h1span {
        font-size: 70px;
    }

    #text2 {
        font-size: 18px;
    }

    .download {
        width: 50%;
        font-size: 17px;
    }

    .image-block {
        width: 100%;
        height: 450px;
    }

    .second-section {
        height: 2100px;
        margin-top: 50px;
    }

    .second-section-first-block {
        width: 100%;
        height: 650px;
        padding: 10px;
        padding-top: 50px;
        display: block;
        overflow: hidden;
    }

    .second-section-image {
        width: 90%;
        height: 250px;
    }

    .second-section-text-block {
        width: 90%;
        height: 250px;
        margin-top: 50px;
        padding: 10px;
    }

    #firsttxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondtxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondsectiontext2  {
        font-size: 13px;
    }

    .secimg {
        margin-top: 20px;
    }

    .second-section-second-block {
        height: 750px;
    }

    .third-section {
        height: 1600px;
    }

    #reviews {
        font-size: 25px;
    }

    #what-do-they-say {
        font-size: 35px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
    }

    .status-block {
        width: 100%;
        height: 1300px;
        display: block;
    }

    .status {
        width: 100%;
        height: 570px;
        display: block;
    }

    .some-status {
        width: 100%;
        height: 430px;
        padding: 0;
    }

    #easy-to-use {
        font-size: 20px;
    }

    #statustxt {
        font-size: 18px;
    }

    .second-status {
        height: 550px;
        margin-top: 150px;
    }

    .fourth-section {
        display: none;
    }

    .users {
        display: none;
    }

    .fourth-section-responsive {
        display: block;
        width: 100%;
        height: 1000px;
        background-color: rgb(22, 22, 22);
    }

    .users-responsive {
        display: block;
        width: 80%;
        height: 900px;
        margin: auto;
        opacity: 0;
    }

    .userBlock {
        width: 100%;
        text-align: center;
    }

    .fiveth-section {
        display: none;
    }

    .fiveth-section-responsive {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/gradient2-A1aNg8Lg5NTlR0e3.svg");
        height: 850px;
        display: block;
    }

    .fivethSectionBlockResponsive {
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .fiveth-section-text-block {
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        padding: 20px;
    }

    .title1 {
        font-size: 40px;
        margin: 0;
    }

    #some-text {
        font-size: 13px;
        width: 100%;
    }

    .button-block {
        width: 100%;
    }

    .get {
        width: 40%;
    }

    .fiveth-section-image-block {
        width: 100%;
        padding: 80px;
    }

    .end {
        width: 100%;
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;  
    }
    
    .content {
        width: 300px;
        height: 300px;
        padding: 30px;
    }
    
    .content > .for-logo {
        width: 50%;
        height: 60px;
        padding: 0;
    }
    
    .content > .for-logo > .logo {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/logo_black-AE0xqKEXpLtVQXnM.svg");
    }
    
    #content-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 30px;
    }
    
    #privacy {
        font-size: 13px;
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    
    .icons-block {
        width: 50%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icons-block > svg {
        cursor: pointer;
    }
    
    .input-block {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        padding: 30px;
    }
    
    .input-block > h3 {
        height: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .input-block > span {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1a1a1a;
    }
    
    .type {
        width: 100%;
        height: 40px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
    }
    
    .submit {
        width: 130px;
        height: 40px;
        background-color: rgb(93, 27, 166);
        margin-top: 20px;
        border-radius: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 426px) and (max-width: 541px) {
    .container {
        width: 100%;
        height: 1050px;
        background-position: center;
    }

    .for-logo {
        width: 90%;
        height: 100px;
        padding: 20px 0px 0px 40px;
    }

    .logo {
        width: 30%;
        background-image: url("./images/logo-for-responsive.svg");
        background-size: 150px 50px;
    }

    .first-section {
        height: 950px;
        display: block;
    }

    .texts-block {
        width: 80%;
        height: 450px;
        padding: 10px;
        display: block;
    }

    #h1txt {
        font-size: 65px;
        line-height: 70px;
    }

    #h1span {
        font-size: 70px;
    }

    #text2 {
        font-size: 18px;
    }

    .download {
        width: 50%;
        font-size: 17px;
    }

    .image-block {
        width: 80%;
        height: 400px;
    }

    .second-section {
        height: 2300px;
    }

    .second-section-first-block {
        width: 100%;
        height: 750px;
        padding: 10px;
        padding-top: 50px;
        display: block;
        overflow: hidden;
    }

    .second-section-image {
        width: 70%;
        height: 250px;
    }

    .second-section-text-block {
        width: 60%;
        height: 250px;
        margin-top: 50px;
        padding: 10px;
    }

    #firsttxt {
        margin-top: 20px;
        font-size: 45px;
    }

    #secondtxt {
        margin-top: 20px;
        font-size: 45px;
    }

    #secondsextiontext2 {
        font-size: 13px;
    }

    .secimg {
        margin-top: 150px;
    }

    .second-section-second-block {
        height: 850px;
    }

    .second-section-third-block {
        height: 600px;
    }

    .third-section {
        height: 1600px;
    }

    #what-do-they-say {
        font-size: 40px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
    }

    .status-block {
        width: 75%;
        height: 1400px;
        display: block;
    }

    .status {
        height: 550px;
        width: 100%;
        display: block;
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .some-status {
        width: 100%;
        height: 430px;
        padding: 0;
    }

    .second-status {
        height: 550px;
        margin-top: 150px;
    }

    #easy-to-use {
        font-size: 23px;
    }

    #statustxt {
        font-size: 17px;
    }

    .fourth-section {
        display: none;
    }

    .users {
        display: none;
    }

    .fourth-section-responsive {
        display: block;
        width: 100%;
        height: 1000px;
        background-color: rgb(22, 22, 22);
    }

    .users-responsive {
        display: block;
        width: 80%;
        height: 900px;
        margin: auto;
        opacity: 0;
    }

    .userBlock {
        width: 100%;
    }

    .fiveth-section {
        display: none;
    }

    .fiveth-section-responsive {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/gradient2-A1aNg8Lg5NTlR0e3.svg");
        height: 830px;
        display: block;
    }

    .fivethSectionBlockResponsive {
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .fiveth-section-text-block {
        width: 70%;
        height: 380px;
        padding: 30px;
        margin: auto;
    }

    .fiveth-section-image-block {
        width: 60%;
        height: 450px;
        padding: 20px;
        margin: auto;
    }

    .fiveth-section-image-block > img {
        width: 100%;
    }

    .title1 {
        font-size: 45px;
        margin: 0;
    }

    #some-text {
        font-size: 15px;
        width: 100%;
    }

    .button-block {
        width: 100%;
    }

    .get {
        width: 40%;
    }

    .end {
        width: 100%;
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;  
    }
    
    .content {
        width: 300px;
        height: 300px;
        padding: 30px;
    }
    
    .content > .for-logo {
        width: 60%;
        height: 60px;
        padding: 0;
    }
    
    .content > .for-logo > .logo {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/logo_black-AE0xqKEXpLtVQXnM.svg");
    }
    
    #content-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 30px;
    }
    
    #privacy {
        font-size: 13px;
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    
    .icons-block {
        width: 50%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icons-block > svg {
        cursor: pointer;
    }
    
    .input-block {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        padding: 30px;
    }
    
    .input-block > h3 {
        height: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .input-block > span {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1a1a1a;
    }
    
    .type {
        width: 100%;
        height: 40px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
    }
    
    .submit {
        width: 130px;
        height: 40px;
        background-color: rgb(93, 27, 166);
        margin-top: 20px;
        border-radius: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }

}

@media (min-width: 541px) and (max-width: 769px) {
    .container {
        width: 101%;
        height: 1059px;
        background-position: center;
    }

    .for-logo {
        height: 100px;
        padding: 20px 0px 0px 190px;
    }

    .first-section {
        height: 960px;
        display: block;
    }

    .texts-block {
        width: 60%;
        height: 450px;
        padding: 10px;
        margin: auto;
    }

    #h1txt {
        font-size: 70px;
        line-height: 75px;
    }

    #h1span {
        font-size: 70px;
    }

    #text2 {
        font-size: 20px;
    }

    .image-block {
        width: 60%;
        height: 450px;
        padding-top: 10px;
        margin: auto;
    }

    .second-section {
        height: 2300px;
    }

    .second-section-first-block {
        width: 100%;
        height: 650px;
        padding: 10px;
        padding-top: 50px;
        display: block;
        overflow: hidden;
    }

    .second-section-image {
        width: 55%;
        height: 300px;
        margin: auto;
    }

    .second-section-text-block {
        width: 50%;
        height: 250px;
        margin: auto;
        margin-top: 50px;
        padding: 10px;
    }

    #firsttxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondtxt {
        margin-top: 20px;
        font-size: 35px;
    }

    #secondsectiontext2  {
        font-size: 12px;
    }

    .secimg {
        margin-top: 20px;
    }

    .second-section-second-block {
        height: 850px;
    }

    .second-section-third-block {
        height: 600px;
    }

    .third-section {
        height: 1500px;
    }

    #what-do-they-say {
        font-size: 40px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
    }

    .status-block {
        width: 75%;
        height: 1300px;
        display: block;
        margin: auto;
    }

    .status {
        height: 550px;
        width: 100%;
        display: block;
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .some-status {
        width: 100%;
        height: 430px;
        padding: 0;
    }

    .second-status {
        height: 500px;
        margin-top: 150px;
    }

    #easy-to-use {
        font-size: 23px;
    }

    #statustxt {
        font-size: 17px;
    }

    .fourth-section {
        display: none;
    }

    .users {
        display: none;
    }

    .fourth-section-responsive {
        display: block;
        width: 100%;
        height: 1000px;
        background-color: rgb(22, 22, 22);
    }

    .users-responsive {
        display: block;
        padding-left: 150px;
        width: 75%;
        height: 300px;
        margin: auto;
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section {
        display: none;
    }

    .fiveth-section-responsive {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/gradient2-A1aNg8Lg5NTlR0e3.svg");
        height: 850px;
        display: block;
    }

    .fivethSectionBlockResponsive {
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .fiveth-section-text-block {
        width: 55%;
        height: 380px;
        padding: 30px;
        margin: auto;
    }

    .fiveth-section-image-block {
        height: 450px;
        margin: auto;
    }

    .title1 {
        font-size: 55px;
        margin: 0;
    }

    #some-text {
        font-size: 18px;
        width: 100%;
    }

    .button-block {
        width: 100%;
    }

    .get {
        width: 40%;
        font-size: 20px;
    }

        .end {
        width: 100%;
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;  
    }
    
    .content {
        width: 300px;
        height: 300px;
        padding: 30px;
    }
    
    .content > .for-logo {
        width: 60%;
        height: 60px;
        padding: 0;
    }
    
    .content > .for-logo > .logo {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/logo_black-AE0xqKEXpLtVQXnM.svg");
    }
    
    #content-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 30px;
    }
    
    #privacy {
        font-size: 13px;
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    
    .icons-block {
        width: 50%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icons-block > svg {
        cursor: pointer;
    }
    
    .input-block {
        width: 60%;
        height: 300px;
        margin-left: 0px;
        padding: 30px;
    }
    
    .input-block > h3 {
        height: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .input-block > span {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1a1a1a;
    }
    
    .type {
        width: 100%;
        height: 40px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
    }
    
    .submit {
        width: 130px;
        height: 40px;
        background-color: rgb(93, 27, 166);
        margin-top: 20px;
        border-radius: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 769px) and (max-width: 822px) {
    .container {
        width: 101%;
        height: 1060px;
        background-position: center;
    }

    .for-logo {
        height: 100px;
        padding: 20px 0px 0px 240px;
    }

    .first-section {
        height: 960px;
        display: block;
    }

    .texts-block {
        width: 50%;
        height: 450px;
        padding: 10px;
        margin: auto;
    }

    #h1txt {
        font-size: 70px;
        line-height: 80px;
    }

    #h1span {
        font-size: 70px;
    }

    #text2 {
        font-size: 20px;
    }

    .image-block {
        width: 60%;
        height: 450px;
        padding-top: 10px;
        margin: auto;
    }

    .second-section {
        height: 2300px;
    }

    .second-section-first-block {
        width: 100%;
        height: 650px;
        padding: 10px;
        padding-top: 50px;
        display: block;
        overflow: hidden;
    }

    .second-section-image {
        width: 55%;
        height: 300px;
        margin: auto;
    }

    .second-section-text-block {
        width: 50%;
        height: 250px;
        margin: auto;
        margin-top: 50px;
        padding: 10px;
    }

    #firsttxt {
        margin-top: 20px;
        font-size: 40px;
    }

    #secondtxt {
        margin-top: 20px;
        font-size: 40px;
    }

    #secondsectiontext2  {
        font-size: 13px;
    }

    .secimg {
        margin-top: 20px;
    }

    .second-section-second-block {
        height: 850px;
    }

    .second-section-third-block {
        height: 600px;
    }

    .third-section {
        height: 1500px;
    }

    .part1txt {
        line-height: 50px;
    }

    #reviews {
        font-size: 25px;
    }

    #what-do-they-say {
        font-size: 40px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
    }

    .status-block {
        width: 70%;
        height: 1300px;
        display: block;
        margin: auto;
    }

    .status {
        height: 550px;
        width: 100%;
        display: block;
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .some-status {
        width: 100%;
        height: 420px;
        padding: 0;
    }

    #easy-to-use {
        font-size: 23px;
    }

    .second-status {
        height: 500px;
        margin-top: 150px;
    }

    #statustxt {
        font-size: 20px;
    }

    .fourth-section {
        display: none;
    }

    .users {
        display: none;
    }

    .fourth-section-responsive {
        display: block;
        width: 100%;
        height: 1000px;
        background-color: rgb(22, 22, 22);
    }

    .users-responsive {
        display: block;
        width: 80%;
        height: 900px;
        margin: auto;
        opacity: 0;
        transition: 1s;
    }

    .userBlock {
        width: 100%;
    }

    
    .fiveth-section {
        display: none;
    }

    .fiveth-section-responsive {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/gradient2-A1aNg8Lg5NTlR0e3.svg");
        height: 850px;
        display: block;
    }

    .fivethSectionBlockResponsive {
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .fiveth-section-text-block {
        width: 55%;
        height: 380px;
        padding: 30px;
        margin: auto;
    }

    .fiveth-section-image-block {
        height: 450px;
        margin: auto;
    }

    .title1 {
        font-size: 55px;
        margin: 0;
    }

    #some-text {
        font-size: 18px;
        width: 100%;
    }

    .button-block {
        width: 90%;
    }

    .get {
        width: 40%;
        font-size: 20px;
    }

    .end {
        width: 100%;
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;  
    }
    
    .content {
        width: 300px;
        height: 300px;
        padding: 30px;
    }
    
    .content > .for-logo {
        width: 60%;
        height: 60px;
        padding: 0;
    }
    
    .content > .for-logo > .logo {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/logo_black-AE0xqKEXpLtVQXnM.svg");
    }
    
    #content-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 30px;
    }
    
    #privacy {
        font-size: 13px;
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    
    .icons-block {
        width: 50%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icons-block > svg {
        cursor: pointer;
    }
    
    .input-block {
        width: 60%;
        height: 300px;
        margin-left: 0px;
        padding: 30px;
    }
    
    .input-block > h3 {
        height: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .input-block > span {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1a1a1a;
    }
    
    .type {
        width: 100%;
        height: 40px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
    }
    
    .submit {
        width: 130px;
        height: 40px;
        background-color: rgb(93, 27, 166);
        margin-top: 20px;
        border-radius: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }

}

@media (min-width: 822px) and (max-width: 913px) {
    .container {
        width: 101%;
        height: 1060px;
        background-position: center;
    }

    .for-logo {
        height: 100px;
        padding: 20px 0px 0px 240px;
    }

    .first-section {
        height: 960px;
        display: block;
    }

    .texts-block {
        width: 50%;
        height: 450px;
        padding: 10px;
        margin: auto;
    }

    #h1txt {
        font-size: 70px;
        line-height: 80px;
    }

    #h1span {
        font-size: 70px;
    }

    #text2 {
        font-size: 20px;
    }

    .image-block {
        width: 60%;
        height: 480px;
        padding-top: 10px;
        margin: auto;
    }

    .second-section {
        height: 2300px;
    }

    .second-section-first-block {
        width: 100%;
        height: 650px;
        padding: 10px;
        padding-top: 50px;
        display: block;
        overflow: hidden;
    }

    .second-section-image {
        width: 55%;
        height: 300px;
        margin: auto;
    }

    .second-section-text-block {
        width: 50%;
        height: 250px;
        margin: auto;
        margin-top: 50px;
        padding: 10px;
    }

    #firsttxt {
        margin-top: 20px;
        font-size: 40px;
    }

    #secondtxt {
        margin-top: 20px;
        font-size: 40px;
    }

    #secondsectiontext2  {
        font-size: 14px;
    }

    .secimg {
        margin-top: 20px;
    }

    .second-section-second-block {
        height: 850px;
    }

    .second-section-third-block {
        height: 600px;
    }

    .third-section {
        height: 1500px;
    }

    #what-do-they-say {
        font-size: 40px;
        font-weight: 600;
        font-family: 'Rubik', sans-serif;
    }

    .status-block {
        width: 70%;
        height: 1300px;
        display: block;
        margin: auto;
    }

    .status {
        height: 550px;
        width: 100%;
        display: block;
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .some-status {
        width: 100%;
        height: 430px;
        padding: 0;
    }

    .second-status {
        height: 500px;
        margin-top: 150px;
    }

    #easy-to-use {
        font-size: 23px;
    }

    #statustxt {
        font-size: 20px;
    }

    .fourth-section {
        display: none;
    }

    .users {
        display: none;
    }

    .fourth-section-responsive {
        display: block;
        width: 100%;
        height: 1000px;
        background-color: rgb(22, 22, 22);
    }

    .users-responsive {
        display: block;
        width: 80%;
        height: 900px;
        margin: auto;
        opacity: 0;
        transition: 1s;
    }

    .userBlock {
        width: 100%;
    }

    .fiveth-section {
        display: none;
    }

    .fiveth-section-responsive {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/gradient2-A1aNg8Lg5NTlR0e3.svg");
        height: 830px;
        display: block;
    }

    .fivethSectionBlockResponsive {
        opacity: 0;
        transition: 1s;
    }

    .fiveth-section-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .fiveth-section-text-block {
        width: 55%;
        height: 380px;
        padding: 30px;
        margin: auto;
    }

    .fiveth-section-image-block {
        height: 450px;
        padding-top: 30px;
        margin: auto;
    }

    .title1 {
        font-size: 55px;
        margin: 0;
    }

    #some-text {
        font-size: 18px;
        width: 100%;
    }

    .button-block {
        width: 90%;
    }

    .get {
        width: 40%;
        font-size: 20px;
    }

    .end {
        width: 100%;
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;  
    }
    
    .content {
        width: 300px;
        height: 300px;
        padding: 30px;
    }
    
    .content > .for-logo {
        width: 60%;
        height: 60px;
        padding: 0;
    }
    
    .content > .for-logo > .logo {
        width: 100%;
        background-image: url("https://assets.zyrosite.com/blickpkok4/logo_black-AE0xqKEXpLtVQXnM.svg");
    }
    
    #content-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 30px;
    }
    
    #privacy {
        font-size: 13px;
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    
    .icons-block {
        width: 50%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icons-block > svg {
        cursor: pointer;
    }
    
    .input-block {
        width: 60%;
        height: 300px;
        margin-left: 0px;
        padding: 30px;
    }
    
    .input-block > h3 {
        height: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    .input-block > span {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        color: #1a1a1a;
    }
    
    .type {
        width: 100%;
        height: 40px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
    }
    
    .submit {
        width: 130px;
        height: 40px;
        background-color: rgb(93, 27, 166);
        margin-top: 20px;
        border-radius: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 913px) and (max-width: 1025px) {
    .image-block {
        width: 500px;
    }

    .second-section-first-block {
        padding-top: 150px;
        display: flex;
        justify-content: space-between;
    }

    .second-section-image {
        width: 50%;
        height: 300px;
        border-radius: 5%;
        overflow: hidden;
    }

    .second-section-text-block {
        width: 50%;
        padding-left: 50px;
        padding-top: 30px
    }

    .second-section-second-block {
        padding-top: 110px;
        height: 550px;
    }

    .ssc {
        margin-left: -70px;
    }

    .some-status {
        width: 100%;
    }

    .users {
        width: 90%;
    }

    .fiveth-section {
        height: 510px;
    }

    .fiveth-section-text-block {
        padding-top: 120px;
    }

    
    .title1 {
        font-size: 40px;
        margin: 0;
    }

    #some-text {
        font-size: 18px;
        width: 100%;
    }
}